 
footer{
    background-color: brown;
    color:black;
    height: 10vh;
    
}

.carts{
    background-color: rgb(184, 170, 151);
    max-width: 1450px;
    margin: 0 auto;
}

.item{
    height: auto;
    width: 200px;
    text-align: center;
}